body
{

}

.main
{
width: 85%;
}

.weather
{
width: 15%;
}

.transport
{
width: 15%;
}

.table
{
width: 100%;
}
/*
#table1
{
display: block;
}

#table2
{
display: none;
}

#table3
{
display: none;
}*/

.route
{
width: 50%;
text-align: left;
}

.time
{
width: 50%;
text-align: right;
}

.bus
{
width: 198px;
}

.green /* go now */
{
color: #00ff00;
}

.grey /* no chance */
{
color: #666666;
}

.red /* you may try */
{
color: #ff0000;
}

