body
{
margin: 0;
}

.main
{
width: 85%;
}

.weather
{
width: 15%;
vertical-align: top;
}

.transport
{
width: 15%;
}

.table
{
width: 100%;
}
/*
#table1
{
display: block;
}

#table2
{
display: none;
}

#table3
{
display: none;
}*/

.route
{
width: 50%;
text-align: left;
}

.time
{
width: 50%;
text-align: right;
}

.bus
{
width: 198px;
}

.green /* go now */
{
color: #00ff00;
}

.grey /* no chance */
{
color: #666666;
}

.red /* you may try */
{
color: #ff0000;
}

.news_title
{
font-size: smaller;
margin: 0;
}

.news_date
{
font-size: x-small;
margin: 0;
}

.news_content
{
font-size: x-small;
margin: 0;
}

pre
{
font-size: x-small;
}

td
{
vertical-align: top;
}

iframe
{
border: 0;
margin: 0;
padding: 0;
}

.signage
{
text-align: right;
}
